{% extends 'default.html' %}
{% block title %}
Тестовые задания Python-программисту
{% endblock title %}

{% block content %}
<h3 style="text-align: left;">Первое задание</h3>
<p style="text-align: left;">Напишите сервис, который будет находить корни квадратного уравнения <strong>a*x<SUP>2</SUP> + b*x + c = 0 </strong>. Самостоятельно определите наиболее оптимальную структуру возвращаемых данных.</p>
<p style="text-align: left;">В качестве входных данных в сервис передаются значения  <em>a, b, c. </em></p>
<p style="text-align: left;">&nbsp;💡 <strong>Напоминание.</strong> Корни квадратного уравнения рассчитываются следующим образом:</p>
<ul>
<li style="text-align: left;">если <em>b<SUP>2</SUP>-4*a*c < 0</em>, то уравнение не имеет решений;</li>
<li style="text-align: left;">если <em>b<SUP>2</SUP>-4*a*c = 0</em>, то уравнение имеет одно решение x = -b/2a;</li>
    <li style="text-align: left;">если <em>b<SUP>2</SUP>-4*a*c > 0</em>, то уравнение имеет два решения:  x = (-b &#177; &#8730; <span style="text-decoration: overline;">b<SUP>2</SUP> - 4*a*c</span>) / 2*a</li>
</ul>

<br>
<h3 style="text-align: left;">Второе задание </h3>
<p style="text-align: left;">Есть группа из 100 предметов. Предметы могут быть синего, зелёного и красного цвета. Известно, что предметов синего цвета сильно больше, чем предметов зелёного цвета, а предметов зелёного цвета немного больше, чем предметов красного цвета. Напишите сервис, который будет принимать номер предмета и пытаться угадать его цвет. Логику работы сервиса определите самостоятельно.</p>
{% endblock content %}